
.config
.yoc
*.swp

scripts/defconfig/__pycache__/*
scripts/defconfig/configdef.pyc
scripts/defconfig/defconfig.py
scripts/yaml_update.py

components/cvi_mmf_sdk/cvi_middleware/include
components/cvi_mmf_sdk/cvi_middleware/uapi
components/cvi_mmf_sdk/cvi_msg/internal_include/msg
components/cvi_mmf_sdk/SensorSupportList
components/cvi_mmf_sdk/cvi_sensor

components/aos/include/cvi_board_memmap.h
solutions/normboot/cdkinitflash
solutions/normboot/cvi_board_memmap.ld
solutions/normboot/gdbinitflash
solutions/normboot/mkflash.sh
solutions/normboot/package.yaml
solutions/fastboot/cvi_board_memmap.ld
solutions/fastboot/package.yaml

