/csi
out
.vscode
.gdbinit
!**/script/gdbinit
solutions/**/yoc.asm
solutions/**/yoc.bin
solutions/**/yoc.elf
solutions/**/yoc.map
solutions/**/yoc.smap
solutions/**/yoc.s
solutions/**/boot.asm
solutions/**/boot.bin
solutions/**/boot.elf
solutions/**/boot.map
solutions/**/boot.smap
solutions/**/generated
solutions/**/*.elf
solutions/**/cdkinitflash
solutions/**/gdbinitflash
solutions/**/mkflash.sh
!CH2201_eFlash_CDK.elf
**/.cdk
**/Obj
**/Lst
solutions/**/Packages
solutions/**/Boards
solutions/**/Chips
bootloader/bin/
modules/security/tee_ca/bin
bootloader/libs/libcsi.a
bootloader/include/config.h
bootloader/**/generated/
bootloader/**/cdk/bootloader.mk
bootloader/**/cdk/bootloader.txt
examples/**/generated/
applications/**/generated/
tests/**/generated/
**/defconfig
defconfig.all
generated/imgs.zip
.DS_Store
id_rsa
id_rsa.pub
Thumbs.db
db.json
*.log
/docs/node_modules
/docs/public
/docs/*.log
/docs/db.json
/docs/.deploy_gig
.idea
**/image_mtb
**/*.zip
**/prim
**/all.bin
**/*.pyc
yoc_sdk
**/generated
**/mtrace.output
applications/at_demo/at_log
utility/baidu-proxy/sample/asr/main
**/*.o
**/*.d
**/*.dblite
./build
node_modules
tools/build
tools/dist
**/*.egg-info
**/*.swp
.components.db
*.tags
*.geany
tags
cscope.out
*.bak
**/components/**/SConstruct
components/csi/SConscript
components/csi2_dummy/SConscript
components/partition/SConscript
components/rhino/SConscript
components/sec_crypto/SConscript
components/cvi_mmf_sdk/cvi_middleware/cvi_mw_isp_daemon/src/cvi_pqtool_json.h
*.cdkws
solutions/**/pqtool_definition.json
solutions/**/.sconsign.dblite
.yoc
solutions/package.yaml
install
components/cvi_mpi/cvi_link/lib
components/cvi_mpi/cvi_msg/lib
components/cvi_mpi/cvi_mw_audio/lib
components/cvi_mpi/cvi_mw_bin/lib
components/cvi_mpi/cvi_mw_gdc/lib
components/cvi_mpi/cvi_mw_isp/lib
components/cvi_mpi/cvi_mw_isp_ae/lib
components/cvi_mpi/cvi_mw_isp_af/lib
components/cvi_mpi/cvi_mw_isp_algo/lib
components/cvi_mpi/cvi_mw_isp_awb/lib
components/cvi_mpi/cvi_mw_isp_bin/lib
components/cvi_mpi/cvi_mw_ldc/lib
components/cvi_mpi/cvi_mw_mipi_tx/lib
components/cvi_mpi/cvi_mw_rgn/lib
components/cvi_mpi/cvi_mw_sys/lib
components/cvi_mpi/cvi_mw_vdec/lib
components/cvi_mpi/cvi_mw_venc/lib
components/cvi_mpi/cvi_mw_vi/lib
components/cvi_mpi/cvi_mw_vo/lib
components/cvi_mpi/cvi_mw_vpss/lib
components/cvi_mpi/cvi_osdrv_base/lib
components/cvi_mpi/cvi_osdrv_cif/lib
components/cvi_mpi/cvi_osdrv_ipcm/lib
components/cvi_mpi/cvi_osdrv_ldc/lib
components/cvi_mpi/cvi_osdrv_rgn/lib
components/cvi_mpi/cvi_osdrv_sys/lib
components/cvi_mpi/cvi_osdrv_vcodec/lib
components/cvi_mpi/cvi_osdrv_vi/lib
components/cvi_mpi/cvi_osdrv_vo/lib
components/cvi_mpi/cvi_osdrv_vpss/lib
components/aos/include/cvi_board_memmap.h
solutions/fastboot/cvi_board_memmap.ld
solutions/fastboot/cvi_pqtool_json.h
solutions/fastboot/gdbinit
solutions/fastboot/package.yaml
solutions/normboot/cvi_board_memmap.ld
solutions/normboot/cvi_pqtool_json.h
solutions/normboot/package.yaml
