solutions/**/out
solutions/**/*.o
solutions/**/*.d
*.gz
.vscode
.gdbinit
!**/script/gdbinit
solutions/**/yoc.asm
solutions/**/yoc.bin
solutions/**/yoc.elf
solutions/**/yoc.map
solutions/**/yoc.smap
solutions/**/yoc.s
solutions/**/boot.asm
solutions/**/boot.bin
solutions/**/boot.elf
solutions/**/boot.map
solutions/**/boot.smap
solutions/**/generated
solutions/**/*.elf
solutions/**/cdkinitflash
solutions/**/gdbinitflash
solutions/**/mkflash.sh
**/.cdk
**/Obj
**/Lst
solutions/**/Packages
solutions/**/Boards
solutions/**/Chips
bootloader/bin/
modules/security/tee_ca/bin
bootloader/libs/libcsi.a
bootloader/include/config.h
bootloader/**/generated/
bootloader/**/cdk/bootloader.mk
bootloader/**/cdk/bootloader.txt
examples/**/generated/
applications/**/generated/
tests/**/generated/
**/defconfig
defconfig.all
generated/imgs.zip
.DS_Store
id_rsa
id_rsa.pub
Thumbs.db
db.json
*.log
.idea
**/image_mtb
**/*.zip
**/prim
**/all.bin
**/*.pyc
yoc_sdk
**/generated
**/mtrace.output
applications/at_demo/at_log
utility/baidu-proxy/sample/asr/main
**/*.dblite
node_modules
tools/build
tools/dist
**/*.egg-info
**/*.swp
.components.db
*.tags
*.geany
tags
cscope.out
*.bak
**/components/**/SConstruct
components/csi/SConscript
components/csi2_dummy/SConscript
components/partition/SConscript
components/rhino/SConscript
components/sec_crypto/SConscript
*.mk
*.txt
*.cdkws
solutions/**/.sconsign.dblite
.yoc
install
