DELETE_MMFSDK_DIRS=(
	"cvi_tpu"
	"cvi_middleware"
	"cvi_osdrv"
	"cviai"
)

DELETE_COMPONENTS_DIRS=(
	"rtsp"
	"cvi_json_c"
	"cvi_miniz"
)

DEPEND_SOLUTIONS_LIBS=(
	"cvi_osdrv"
	"cvi_json_c"
	"cvi_miniz"
)
DEPEND_SOLUTIONS_INCLUDE=(
	"include/common/uapi"
	"include/chip/<CVI_SOC_NAME>/uapi"
	"include/common/kapi"
)

CUSTOMIZATION_DIR="fc"